.chat {
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    font-family: sans-serif;
}

nav {
    display: none;
}
.chat-window {
    background-image: url(../../../assets/img/img.jpg);
    height: 90%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
}

#messageForm {
    background-color: #110E4C;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 800px;
    height: 10% ;
}
#msg-input {
    padding: 7px;
    border-radius: 20px;
    border: 0;
    width: 70%;
    outline: none;
    margin-right: 10px;
}

#msg-btn {
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
}

.msg {
    list-style-type: none;
    text-align: left;
}
span {
    max-width: 500px;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    text-align: left;
    margin: 5px 5px 5px 10px;
    box-shadow: 0.2px 0.3px 2px rgba(0, 0, 0, 0.3);
}

i{
     font-weight: bold;
}

.my {
    text-align: right;
    list-style-type: none;
}
.my span {
    background-color: #363636;
    color: #ffffff;
}

#chat-header {
    display: inline-block;
}
#topflex {
    display: flex;
}
#leaveRoomidd {
    display: inline-block;
    /* float: right; */
    padding: 10px;
    outline: none;
    margin-left: auto;
    color: #110E4C;
    text-align: right;
    background: #FAEE1C;
    font-weight: bold;
    font-size: medium;
}

@media all and (max-width: 450px) {
    .chat-menu {
		display: none;
	}
	#iSearch-top {
		width: 54vw;
		width: 100%;	
	}
	#iSearch-header {
		text-align: center;
		margin-left: 0px;
	}
	.side-bar {
		display: none;
	}
	.chat-container {
		grid-template-columns: 0;
		background : #E5E5E5;
		min-height : 100vh;
    }
    #messageForm {
        padding: 25px;
        width: 100%;
        height: 10% ;
    }
    nav {
        display: block;
    }
    .chat-window {
        height: 100%;
        padding-bottom: 40px;
    }
}
